.form {
   display: flex;
   flex-direction: column;
   max-width: 600px;
   width: 100%;
   & > *:not(:last-child) {
      margin: 0px 0px 35px 0px;
   }
   &-info {
      color: var(--main-color);
      text-align: center;
   }
   & .form-btn {
      margin: 20px 0px 0px 0px;
   }
   &__to {
      margin: 25px auto 0px auto !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      color: $disabled;
      gap: 10px;
      & a {
         text-decoration: underline;
         color: var(--main-color);
      }
   }
   & span {
      margin: 20px 0px 0px 0px;
      font-weight: 500;
      font-size: 12px;
      @include lh(15, 12);
      text-align: center;
      color: $disabled;
   }
   &__forgot {
      margin: 20px 0px 0px 0px;
      text-align: center;
      color: var(--main-color);
      cursor: pointer;
      &:hover {
         text-decoration: underline;
      }
   }
}
