.header {
   padding: 20px 15px;
   background-color: var(--header-backgound-color);
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: sticky;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 100;
   transition: ease 0.4s;
   border-bottom: 4px solid var(--header-border-bottom);
   &--scrolled {
      height: 40px;
   }
   &__container {
      width: inherit;
   }
   &__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &__logo {
      & svg {
         width: 35px;
         height: 35px;
         fill: var(--main-color);
      }
   }
   &__account {
      padding: 5px;
      & svg {
         margin: 0px 0px -5px 0px;
         width: 30px;
         height: 30px;
         fill: $disabled;
      }
      &.active {
         & svg {
            fill: var(--main-color);
         }
      }
   }
}

@media (max-width: 425px) {
   .header {
      padding: 14px 15px;
      &__theme {
         transform: scale(0.8);
      }
      &__logo {
         & svg {
            width: 30px;
            height: 30px;
         }
      }
      &__account {
         & svg {
            width: 25px;
            height: 25px;
         }
      }
   }
}
