body {
   font-family: "Montserrat";
   font-weight: 500;
   font-size: 18px;
   @include lh(22, 18);
	background: var(--background-color);
	transition: background ease 0.4s;
}

/* ----------------CONTAINER------------------------------------------------- */

._container {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

/* ----------------MEDIA------------------------------------------------- */