body {
   font-family: "Montserrat";
   font-weight: 500;
   font-size: 18px;
   @include lh(22, 18);
   background: var(--background-color);
   transition: background ease 0.4s;
   scroll-behavior: smooth;
}

.main-page,
.profile {
   display: flex;
   flex-direction: column;
   height: 100vh;
   & > *:nth-last-child(2) {
      flex: 1 1 auto;
   }
}

.btn-error {
	margin: 20px auto 0px auto;
	max-width: 200px;
}

/* ----------------CONTAINER------------------------------------------------- */

._container {
   max-width: 1230px;
   padding: 0 15px;
   margin: 0 auto;
}

/* ----------------MEDIA------------------------------------------------- */
